# Environment and secrets
.env

# Virtual environment
.venv/
env/
venv/

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Auxiliary scripts & temporary exports (Ignore directory and all contents)
scripts/

# Project dynamic data & database (Keep structure, ignore contents)
data/*
!data/.gitkeep

# Project generated outputs (Keep structure, ignore contents)
outputs/*
!outputs/.gitkeep

# IDE & Editor files
.vscode/
.idea/
*.swp